In [1]:
import pandas as pd
import numpy as np

In [2]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [3]:
data = pd.DataFrame([[1,2,3],[4,5,6],[6,2,3],[7,5,6],[9,2,3],[14,5,6]])

In [4]:
data

    0  1  2
0   1  2  3
1   4  5  6
2   6  2  3
3   7  5  6
4   9  2  3
5  14  5  6

In [5]:
data

    0  1  2
0   1  2  3
1   4  5  6
2   6  2  3
3   7  5  6
4   9  2  3
5  14  5  6

In [6]:
data.loc[1]

0    4
1    5
2    6
Name: 1, dtype: int64